# SQL e Python

In [4]:
import pandas as pd
import sqlite3

from sqlalchemy import create_engine

## Connect to database

In [54]:
db = create_engine('sqlite:///database_olist.sqlite', echo=False)
conn = db.connect()

## Loading dataset

## customer

In [55]:
# dataset


df_customer = pd.read_csv('Data/olist_customers_dataset.csv')

In [56]:
# query

schema_customer = """

                CREATE TABLE customer(
                
                
                customer_id                   TEXT,
                customer_unique_id            TEXT, 
                customer_zip_code_prefix      INTEGER,
                customer_city                 TEXT,
                customer_state                TEXT
                
                )
                
"""

conn.execute(schema_customer)

In [57]:
# insert data

df_customer.to_sql('customer', con=conn, if_exists='append', index=False)

## geolocation

In [58]:
df_customer = pd.read_csv('Data/olist_geolocation_dataset.csv')

In [59]:
schema_geolocation = """

                CREATE TABLE geolocation (
                
                
                geolocation_zip_code_prefix      INTEGER,
                geolocation_lat                  REAL,
                geolocation_lng                  REAL,
                geolocation_city                 TEXT,
                geolocation_state                TEXT
                )
                
"""

conn.execute(schema_geolocation)

df_customer.to_sql('geolocation', con=conn, if_exists='append', index=False)

## order_items

In [60]:
df_customer = pd.read_csv('Data/olist_order_items_dataset.csv')

In [61]:
schema_order_items = """

                CREATE TABLE order_items (
                
                
                order_id                TEXT,
                order_item_id           INTEGER,
                product_id              TEXT,
                seller_id               TEXT,
                shipping_limit_date     TEXT,
                price                   REAL,
                freight_value           REAL
                
                )
                
"""

conn.execute(schema_order_items)

df_customer.to_sql('order_items', con=conn, if_exists='append', index=False)

## order_payments

In [62]:
df_customer = pd.read_csv('Data/olist_order_payments_dataset.csv')

In [63]:
schema_order_payments = """

                CREATE TABLE order_payments (
                
                
                order_id                 TEXT,
                payment_sequential       INTEGER,
                payment_type             TEXT,
                payment_installments     INTEGER,
                payment_value            REAL
                
                )
                
"""

conn.execute(schema_order_payments)

df_customer.to_sql('order_payments', con=conn, if_exists='append', index=False)

## order_reviews

In [64]:
df_customer = pd.read_csv('Data/olist_order_reviews_dataset.csv')

In [65]:
schema_order_reviews = """

                CREATE TABLE order_reviews (
                
                
                review_id                  TEXT,
                order_id                   TEXT,
                review_score               INTEGER,
                review_comment_title       TEXT,
                review_comment_message     TEXT,
                review_creation_date       TEXT,
                review_answer_timestamp    TEXT
                
                )
                
"""

conn.execute(schema_order_reviews)

df_customer.to_sql('order_reviews', con=conn, if_exists='append', index=False)

## orders

In [66]:
df_customer = pd.read_csv('Data/olist_orders_dataset.csv')

In [67]:
schema_order_s = """

                CREATE TABLE orders (
                
                
                order_id                         TEXT,
                customer_id                      TEXT,
                order_status                     TEXT,
                order_purchase_timestamp         TEXT,
                order_approved_at                TEXT,
                order_delivered_carrier_date     TEXT,
                order_delivered_customer_date    TEXT,
                order_estimated_delivery_date    TEXT
                
                )
                
"""

conn.execute(schema_order_s)

df_customer.to_sql('orders', con=conn, if_exists='append', index=False)

## products

In [68]:
df_customer = pd.read_csv('Data/olist_products_dataset.csv')

In [69]:
schema_products = """

                CREATE TABLE products (
                
                
                product_id                     TEXT,
                product_category_name          TEXT,
                product_name_lenght            REAL,
                product_description_lenght     REAL,
                product_photos_qty             REAL,
                product_weight_g               REAL,
                product_length_cm              REAL,
                product_height_cm              REAL,
                product_width_cm               REAL
                        
                )
                
"""

conn.execute(schema_products)

df_customer.to_sql('products', con=conn, if_exists='append', index=False)

## sellers

In [70]:
df_customer = pd.read_csv('Data/olist_sellers_dataset.csv')

In [72]:
schema_sellers = """

                CREATE TABLE sellers (
                
                
                seller_id                 TEXT,
                seller_zip_code_prefix    INTEGER,
                seller_city               TEXT,
                seller_state              TEXT
                        
                )
                
"""

conn.execute(schema_sellers)

df_customer.to_sql('sellers', con=conn, if_exists='append', index=False)

## product_category_name_translation

In [74]:
df_customer = pd.read_csv('Data/product_category_name_translation.csv')

In [76]:
schema_product_category_name = """

                CREATE TABLE product_category_name (
                
                
                product_category_name            TEXT,
                product_category_name_english    TEXT
                        
                )
                
"""

conn.execute(schema_product_category_name)

df_customer.to_sql('product_category_name', con=conn, if_exists='append', index=False)

In [77]:
query = """

        SELECT name
        FROM sqlite_master
        WHERE type = 'table'


"""

table = pd.read_sql_query(query, conn)
table

                    name
0               customer
1            geolocation
2            order_items
3         order_payments
4          order_reviews
5                 orders
6               products
7                sellers
8  product_category_name